<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Fosidal{% endblock %}</title>
        {% block stylesheets %}
            {{ include('AppBundle:default:include_head.html.twig') }}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="mainBox container-fluid" style="background-image: url('{{ asset('assets/images/bg.jpg') }}')">
            {{ include('AppBundle:default:header.html.twig') }}
            <div class='container'>
                <div class='modalBody clearfix'>
                    {% block body %}{% endblock %}
                </div>
            </div>
            {{ include('AppBundle:default:bar.html.twig') }}    
            {{ include('AppBundle:default:footer.html.twig') }}
        </div>
        {% block javascripts %}
            {{ include('AppBundle:default:include_foot.html.twig') }}
        {% endblock %}
</body>
</html>
