{% extends 'AdminBundle::base.html.twig' %}

{% block body %}
    <h1>Pytania</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Timetoanswer</th>
                <th>Points</th>
                <th>Position</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td><a href="{{ path('question_show', { 'id': question.id }) }}">{{ question.id }}</a></td>
                <td>{{ question.name }}</td>
                <td>{{ question.timeToAnswer }}</td>
                <td>{{ question.points }}</td>
                <td>{{ question.position }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('question_show', { 'id': question.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('question_edit', { 'id': question.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('question_new') }}" class="btn btn-success">Utwórz</a>
        </li>
    </ul>
{% endblock %}
