<ul>
    <li><a href="{{ path('survey_index')}}">Konkursy</a></li>
    <li><a href="{{ path('question_index')}}">Pytania</a></li>
    <li><a href="{{ path('answer_index')}}">Opowiedzi</a></li>
</ul>
<ul>
    <li><a href="{{ path('admin_page_index')}}">Strony</a></li>
    <li><a href="{{ path('admin_text_index')}}">Teksty</a></li>
</ul>
