{% extends 'AdminBundle::base.html.twig' %}

{% block body %}
    <h1>Survey</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ survey.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ survey.name }}</td>
            </tr>
            <tr>
                <th>Start</th>
                <td>{% if survey.start %}{{ survey.start|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{% if survey.end %}{{ survey.end|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('survey_index') }}" class="btn btn-sm btn-primary">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('survey_edit', { 'id': survey.id }) }}" class="btn btn-sm btn-success">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-sm btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
