{% extends "AppBundle::layout.html.twig" %}

{% block title %}Fosidal - Konkurs{% endblock %}

{% block body %}
    <div class="pointCounter">
        <ul class="clearfix center-block">
            <li class="timer">
                <div class="clock"></div>
                <div class="countdown">{{question.timeToAnswer | timer}}</div>
            </li>
            <li class="clearfix pointSummar">
                <div class="podium"></div>
                <div class="pointDesc">
                    <span class="core">Twój<br/>wynik:<br /></span>
                    <span class="allPoint">(Możliwych do zdobycia: {{quiz.getMaxPoints}})</span>
                    <div class="pointAssume"><b>0</b> pkt</span>
                </div>
            </li>
            <li class="pointToCollect">
                <span class="point">{{question.getPoints}}<br /></span>
                <span>Punkty do zdobycia</span>
            </li>
        </ul>
    </div>
    <div class='modalBody question clearfix'>
        <div class="questionCounterTop"><b>Quiz.</b> Pytanie {{questionNumber | qNumber}}/{{quiz.getQuestions.count | qNumber}}</div>
        <div class="questionContainer">
            <h1>{{question.name}}</h1>
            <ul class='questions' data-question="{{question.id}}" data-token="{{token}}" data-url="{{path('competitionCheckAnswer')}}" data-time="{{question.timeToAnswer}}">
                {% for answer in question.getAnswers %}
                <li class='clearfix' data-answer="{{answer.id}}">
                    <div class='boxLetter'><span>{{ loop.index | convToLetter }}</span></div>
                    <div class='boxQuestion'>{{answer.name}}.</div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="questionCounterBottom">Pytanie {{questionNumber | qNumber}}/{{quiz.getQuestions.count | qNumber}}</div>
        {% if questionNumber < quiz.getQuestions.count %}
        <a href="{{ path('competitionNexQuestion')}}"><div id="nextQuestion" class="nextQuestion">Następne pytanie <i class="fa fa-angle-double-right"></i></div></a>
        {% else %}
        <a href="{{ path('competitionEnd')}}"><div id="nextQuestion" class="nextQuestion">Zakończ <i class="fa fa-angle-double-right"></i></div></a>
        {% endif%}
    </div>
{% endblock %}
