{% extends "AppBundle::layout.html.twig" %}

{% block title %}Fosidal - Konkurs{% endblock %}

{% block body %}
    <div class="pointCounter">
        <ul class="clearfix center-block">
            <li class="timer">
                <div class="clock"></div>
                <div class="countdown">{{quiz.getQuestions.first.timeToAnswer | timer}}</div>
            </li>
            <li class="clearfix pointSummar">
                <div class="podium"></div>
                <div class="pointDesc">
                    <span class="core">Twój<br/>wynik:<br /></span>
                    <span class="allPoint">(Możliwych do zdobycia: {{quiz.getMaxPoints}})</span>
                    <div class="pointAssume"><b>0</b> pkt</span>
                </div>
            </li>
            <li class="pointToCollect">
                <span class="point">{{quiz.getQuestions.first.getPoints}}<br /></span>
                <span>Punkty do zdobycia</span>
            </li>
        </ul>
    </div>
    <div class='modalBody question clearfix'>
        <div class="questionCounterTop"><b>Quiz.</b> Pytanie 01/{{quiz.getQuestions.count | qNumber}}</div>
        <div class="questionContainer">
            <h1>W jakich godzinach może być podawany Fosidal?</h1>
            <ul class='questions'>
                <li class='clearfix'>
                    <div class='boxLetter'><span>A</span></div>
                    <div class='boxQuestion'>Do godziny 16-17, żeby nie pobudzać sekrecji w godzinach nocnych.</div>
                </li>
                <li class='clearfix'>
                    <div class='boxLetter'><span>B</span></div>
                    <div class='boxQuestion'>O każdej porze dnia i nocy.</div>
                <li class='clearfix'>
                    <div class='boxLetter'><span>C</span></div>
                    <div class='boxQuestion'>Do trzech razy dziennie tylko w ciągu dnia.</div>
                </li>
            </ul>
        </div>
        <div class="questionCounterBottom">Pytanie 01/{{quiz.getQuestions.count | qNumber}}</div>
        <div class="nextQuestion">Następne pytanie <i class="fa fa-angle-double-right"></i></div>
    </div>
{% endblock %}
