{% extends "AppBundle::layout.html.twig" %}

{% block title %}Fosidal - Konkurs{% endblock %}

{% block body %}
    <div class="modalBody clearfix">
		<div class="competition slide2">
			<div class="row">
				<div class="col-md-6 left-box">
				    <h1>Kliniczne objawy <span class="yellow nowrap">I fazy</span> zakażenia górnych dróg oddechowych</h1>
				    <ul>
				    	<li class="txtFaza1"><i class="fa fa-circle"></i>Wodnisty katar</li>
				    	<li class="txtFaza2"><i class="fa fa-circle"></i>Stan podgorączkowy lub gorączka</li>
				    	<li class="txtFaza3"><i class="fa fa-circle"></i>Suchy kaszel</li>
				    	<li class="txtFaza4"><i class="fa fa-circle"></i>Trudności w połykaniu</li>
				    	<li class="txtFaza5"><i class="fa fa-circle"></i>Bóle głowy</li>
				    </ul>
				</div>
				<div class="col-md-6 right-box">
					<div class="pagination-slide pagination-top">
						<span>Slajd 02/08</span>
					</div>
				    <img class="img-responsive" alt="" src="{{ asset('assets/images/fantom.png') }}">
                                                                                 <img class="img-responsive faza imgFaza1" alt="" src="{{ asset('assets/images/fantomA.png') }}">
                                                                                 <img class="img-responsive faza imgFaza2" alt="" src="{{ asset('assets/images/fantomF.png') }}">
                                                                                 <img class="img-responsive faza imgFaza3" alt="" src="{{ asset('assets/images/fantomC.png') }}">
                                                                                 <img class="img-responsive faza imgFaza4" alt="" src="{{ asset('assets/images/fantomD.png') }}">
                                                                                 <img class="img-responsive faza imgFaza5" alt="" src="{{ asset('assets/images/fantomE.png') }}">
				</div>
			</div>
			<div class="bottom-modal">
				<a class="button back" title="" href="{{ path('competition', {'slideNr': 1}) }}"><i class="fa fa-angle-double-left"></i>Poprzedni slajd</a>
				<div class="pagination-slide pagination-bottom">
					<span>Slajd 02/08</span>
				</div>
				<a class="button next" title="" href="{{ path('competition', {'slideNr': 3}) }}">Następny slajd<i class="fa fa-angle-double-right"></i></a>
			</div>
		</div>
	</div>
{% endblock %}