{% extends 'AdminBundle::base.html.twig' %}

{% block body %}
    <h1>Tekst</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ text.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ text.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ text.content | raw}}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_text_index') }}"  class="btn btn-sm btn-primary">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_text_edit', { 'id': text.id }) }}" class="btn btn-sm btn-success">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-sm btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
